# nrom.cfg — NROM-256 (32KB PRG @ $8000) | CHR 8KB
# Use SEMPRE com o .asm gerado pelo BUILD v0.9.3+
MEMORY {
  ZP:     start = $0000, size = $0100, type = rw, define = yes;
  RAM:    start = $0300, size = $0500, type = rw, define = yes;
  HDR:    start = $0000, size = $0010, type = ro, file = %O, fill = yes;
  PRG:    start = $8000, size = $8000, type = ro, file = %O, fill = yes, define = yes;
  CHR:    start = $0000, size = $2000, type = ro, file = %O, fill = yes;
}
SEGMENTS {
  HEADER:   load = HDR, type = ro;
  ZEROPAGE: load = ZP,  type = zp;
  CODE:     load = PRG, type = ro;
  RODATA:   load = PRG, type = ro, optional = yes;
  VECTORS:  load = PRG, type = ro, offset = $7FFA;
  CHARS:    load = CHR, type = ro;
}
